{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <div id="tvcode" align="center">
    <iframe
      width="1228"
      height="691"
      src="https://www.youtube.com/embed/wM0g8EoUZ_E"
      title="#LIVE: 華視新聞直播 CH52 | Taiwan CTS News | 台湾のニュースを24時間配信 | 대만 24시간 뉴스채널 | 24小時 線上看 LIVE新聞【On Air】"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
{% endblock %}
