<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookinfo3</title>
</head>
<body>
    <p>書名:{{ book.name }}, 作者:{{ author }}, 圖書 ID: {{book.id}}</p>
    <p>書名:{{ books.0.name }}, 作者:{{ books.0.author }}, 圖書 ID: {{books.0.id}}</p>
    <p>書名:{{ books.1.name }}, 作者:{{ books.1.author }}, 圖書 ID: {{books.1.id}}</p>
    <p>書名:{{ books.2.name }}, 作者:{{ books.2.author }}, 圖書 ID: {{books.2.id}}</p>
    <p>書名:{{ books.3.name }}, 作者:{{ books.3.author }}, 圖書 ID: {{books.3.id}}</p>
</body>
</html>