{% extends 'base_auth.html' %} 
{% block title %} Login {% endblock %}
{% block main %}
<div style="width: 330px" class="m-auto">
  <h1>登入</h1>
  <form action="login" method="post">
    <div class="mt-2">
      <label for="email">郵箱</label>
      <input
        type="text"
        class="form-control"
        name="email"
        id="email"
        placeholder="請輸入郵箱"
      />
    </div>
    <div class="mt-2">
      <label for="password">密碼</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="請輸入密碼"
      />
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" value="" id="remember" />
      <label class="form-check-label" for="remember"> 記住我 </label>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary w-100">立即登入</button>
    </div>
  </form>
</div>
{% endblock %}
